{% extends "layout.html" %}

{% block content %}



<div id="dialog-form" title="Create New Item">
    <form id="new-item-form">
        <fieldset id="new-item-fieldset">
            <div><label>Name<input type="text" name="name" id="name" class="text ui-widget-content ui-corner-all" /></label></div>
            <div><label>Description<textarea name="description" id="description" class="text ui-widget-content ui-corner-all"></textarea></label></div>
            <div><label>Item type<select name="itemtype" id="itemtype"><option value="1">Feature</option><option value="2">Bug</option><option value="3">Task</option><option value="4">User Story</option></select></label></div>
            <input type="hidden" id="parentStream" name="parentStream"/>
            <input type="hidden" id="itemid" name="itemid" />
            <input type="hidden" id="item_filter" name="item_filter" value="{{filter_tag}}" />
            <input type="hidden" id="sort_order" name="sort_order" value="{{sort_order}}" />
            <input type="hidden" id="search-term" name="search_term" value="{{search_term}}" />
            <label>Priority<select id="priority" name="priority"><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option></select></label>
            <label>Assigned to<select id="assigned-to" name="assigned-to"></select></label>
            <div>Last updated<span name="lastupdated" id="lastupdated" ></span></div>
            <div id="checklist"></div>
            <div><label>Add Checklist Item<input type="text" name="newchecklistitem" id="newchecklistitem" class="text ui-widget-content ui-corner-all"/></label><button id="add-checklist-item" type="button">Add</button></div> 
            <label>Add Comment<textarea name="newcomment" id="newcomment" class="text ui-widget-content ui-corner-all"></textarea></label>
            <div id="comments"></div>
            <label>Parent Item<select name="parent-item" id="parent-item"></select></label>
            <div id="blocks"></div>
            <label>Add Blocks<select name="blocks-item" id="blocks-item"></select></label>
            <div id="blockedby"></div>
            <label>Add Blocked By<select name="blockedby-item" id="blockedby-item"></select></label>
            <label>Date: <input type="text" id="duedate" size="12" name="due_date"></label>
                <!-- Allow form submission with keyboard without duplicating the dialog button -->
                <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
</fieldset>
    </form>
</div>
<script>
$("#add-checklist-item").button().on("click", function () {
    var item_id = $("#itemid").val();  
    var item_text = $("#newchecklistitem").val();
    var d = new Date();
    var t = d.getTime();
    var cb = "<input type='checkbox' name='newclic-" + item_id + "-" + t + "' id='" + item_id + "-'>";
    $('#checklist').append("<div><label>" + cb  + item_text +  "</label></div>");
    $('#checklist').append("<input type='hidden' name='newclih-" + item_id + "-" + t + "' value='" + item_text + "'>");
/*    $('#new-item-fieldset').append(cb); */
    $('#newchecklistitem').val('');
});
</script>
<div class="streams-container">
<ul class="ul-parent">
{% for stream in uis %}
    {% if stream.is_completed_stream %}
        {% include 'partial/completed-stream.html' %}
    {% else %}
        {% include 'partial/stream.html' %}
    {% endif %}

{% endfor %}
</ul>
    
</div>
{% endblock %}
