<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - My Flask Application</title>
    <link rel="stylesheet" type="text/css" href="/static/content/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/content/site.css" />
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="https://code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css" />
    <style>
/*
        label, input {
            display: block;
        }
*/
            input.text {
                margin-bottom: 12px;
                width: 95%;
                padding: .4em;
            }
    </style>
    <script>
        var dialog, form;
        function move_item(old_pos, new_pos, new_parent) {
            $.ajax({
                url: "/move_item?old_pos=" + old_pos + "&new_pos=" + new_pos + "&new_parent=" + new_parent,                   //
                timeout: 30000,
                type: "GET",

                dataType: 'html',
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("An error has occurred making the request: " + errorThrown)
                },
                success: function (data) {
                    sid = '#' + new_parent
                    stream_li = $(sid);
                    stream_li.replaceWith(data);
                    set_item_handlers();
                    return true
                }
            });
        }

        function get_item(item_id) {
            return $.ajax({
                url: "/get_item?id=" + item_id,
                timeout: 30000,
                type: "GET",

                dataType: 'html',
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("An error has occurred making the request: " + errorThrown)
                },
                success: function (data) {
                    var item = JSON.parse(data);
                    return item;
                }
            });
        }

        function get_possible_parents(item_id) {
            return $.ajax({
                url: "/get_potential_parents?id=" + item_id,
                timeout: 30000,
                type: "GET",

                dataType: 'html',
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("An error has occurred making the request: " + errorThrown)
                },
                success: function (data) {
                    var item = JSON.parse(data);
                    return item;
                }
            });
        }

        function saveitem() {
            var ps = $("#parentStream")
            streamId = ps.val()
            $.ajax({
                url: "/save_item",                   //
                timeout: 30000,
                type: "POST",
                data: form.serialize(),
                dataType: 'html',
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("An error has occurred making the request: " + errorThrown)
                },
                success: function (data) {
                    dialog.dialog("close")
                    sid = "#stream-" + streamId
                    stream_li = $(sid);
                    stream_li.replaceWith(data);
                    set_item_handlers();
                    return true
                }
            });
        }
        function make_dialog(is_update) {
            if (is_update) {
                button_text = "Update item";
                title = "Edit item";
            } else {
                button_text = "Create item";
                title = "New item.";
            }

            var dialog_buttons = {};
            dialog_buttons[button_text] = function () { saveitem(); }
            dialog_buttons['Cancel'] = function () { $(this).dialog('close'); }

            d = $("#dialog-form").dialog({
                title: title,
                autoOpen: false,
                height: 800,
                width: 600,
                modal: true,
                buttons: dialog_buttons

            });
            form = d.find("form");
            return d;
        }

        function set_item_handlers() {
            $("li #items").sortable({
                connectWith: "li #items",
                placeholder: "highlight",
                cancel: ".cancel_drag",
                items: '> li:not(.cancel_drag)',
                start: function (event, ui) {
                    ui.placeholder.height(ui.helper.outerHeight());
                    ui.placeholder.width(ui.helper.outerWidth());
                    ui.item.startPos = ui.item.index();
                    ui.item.savedId = ui.item[0].id;
                },
                stop: function (event, ui) {
                    console.log("Start position: " + ui.item.startPos);
                    console.log("New position: " + ui.item.index());
                    parent = ui.item.parent().parent().attr('id')
                    console.log("ID:" + ui.item.savedId);
                    move_item(ui.item.savedId, ui.item.index(), parent)
                }
            }).bind('dblclick', function (event) {
                full_id = ($(event.target).attr('id'));
                id = full_id.split("-")[2];
                $.when(get_item(id), get_possible_parents(id)).done(function (data, parents) {
//                $.when(get_item(id)).done(function (data) {
                    item = JSON.parse(data[0]);
                    dialog = make_dialog(true)
                    form = dialog.find("form");
                    $("#parentStream").val(item.parentstream);
                    $("#itemid").val(item.id);
                    $('#name').val(item.name);
                    $('#description').val(item.description);
                    $('#newcomment').val('');
                    $('#newchecklistitem').val('');
                    $('#lastupdated').html(item.lastupdated);
                    $('#comments').html('');
                    $('#checklist').html('');
                    $('#itemtype').val(item.itemtype);
                    comments = item.comments;
                    num_comments = comments.length;
                    if (num_comments > 0) {
                       $('#comments').append("<b>Comments</b><br>")
                    }
                    for (var i =0; i<num_comments; i++) {
                        $('#comments').append("<div class='comment'>" + comments[i].comment + " " + comments[i].lastupdatedby + " " + comments[i].lastupdated+ "</div>");
                    }
                    checklist = item.checklist;
                    num_clitems = checklist.length;
                    for (var i = 0; i < num_clitems; i++) {
                        var checked = ""
                        if (checklist[i].completed == 1) {
                            checked = "checked"
                        }
                        $('#checklist').append("<div><label><input type='checkbox' name='clic-" + item.id + "-" + checklist[i].id + "' id='" + item.id + "-" + checklist[i].id + "' " + checked + ">"  + checklist[i].itemtext +  "</label></div>");
                        $('#checklist').append("<input type='hidden' name='clih-" + item.id + "-" + checklist[i].id + "' id='" + item.id + "-" + checklist[i].id + ">");
                    }

                    $('#parent-item')
                        .find('option')
                        .remove()
                        .end()
                        .append('<option value="-1">None</option>')                        

                    possible_parents = JSON.parse(parents[0])
                    for (var i = 0; i < possible_parents.length; i++) {
                        var val = possible_parents[i];
                        $('#parent-item').append("<option value='" + val.id + "'>" + val.value + "</option>")
                    }
                    $('#parent-item').val(item.parentId)

                    dialog.dialog("open");
                });

            }).disableSelection();
        }
    </script>
    <script>
    $(function () {
        var dialog, form
 

        dialog = make_dialog(false);

        form = dialog.find("form").on("submit", function (event) {
            event.preventDefault();
            saveitem();
        });

        $("#create-item").button().on("click", function () {
            dialog.dialog("open");
        });


    });

    var binder = function () {

        //for drag and drop of the workspaces
        $(function () {
            $(".ul-parent").sortable({
                handle: '.handle',
                //																		items: '> :not(.create_workspace)',
                placeholder: "highlight",
                start: function (event, ui) {
                    ui.placeholder.height(ui.helper.outerHeight());
                    ui.placeholder.width(ui.helper.outerWidth());
                    console.log(ui, "ui")
                }
            }).disableSelection();
        });


        $(function () {
            set_item_handlers();
        })


    }

    binder();
   
    $(function () {
        $(document).tooltip({
            content: function () {
                return $(this).prop('title');
            }
        });
    });
    </script>
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand">Cello</a>
                <span class="navbar-brand">{{ user.username }}</span>
            </div>
            <div class="navbar-collapse collapse">

                <ul class="nav navbar-nav">

                    <li><a href="{{ url_for('boards') }}">Boards</a></li>
                    <!--                   <li><a href="{{ url_for('about') }}">About</a></li>
                                    <li><a href="{{ url_for('contact') }}">Contact</a></li> -->
                </ul>

                <a href="#"  class="navbar-brand">{{board_name}}</a>
            </div>
        </div>
    </div>
    <div class="container body-content">
        {% block content %}{% endblock %}
        <hr />
 
    </div>


    {% block scripts %}{% endblock %}

</body>
</html>
