{% extends "layout.html" %}

{% block content %}



<div id="dialog-form" title="Create New Item">
    <form>
        <fieldset>
            <label>Name<input type="text" name="name" id="name" class="text ui-widget-content ui-corner-all" /></label>
            <label>Description<textarea name="description" id="description" class="text ui-widget-content ui-corner-all"></textarea></label>
            <label>Item type<select name="itemtype" id="itemtype"><option value="1">Feature</option><option value="2">Bug</option><option value="3">Task</option></select></label>
            <input type="hidden" id="parentStream" name="parentStream"/>
            <input type="hidden" id="itemid" name="itemid" />
            <div>Last updated<span name="lastupdated" id="lastupdated" ></span></div>
            <label>Add Comment<textarea name="newcomment" id="newcomment" class="text ui-widget-content ui-corner-all"></textarea></label>
            <div id="comments"></div>
            <!-- Allow form submission with keyboard without duplicating the dialog button -->
            <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
        </fieldset>
    </form>
</div>

<div class="streams-container">
<ul class="ul-parent">
{% for stream in uis %}
    {% include 'partial/stream.html' %}
{% endfor %}
</ul>
    
</div>
{% endblock %}
