{% if can_edit %}
   {% set ulid="items" %}
{% else %}
   {% set ulid = "roitems" %}
{% endif %}
<li class="li-parent" id="stream-{{ stream.id }}">
    {{ stream.name }}
    <ul class="ui-sortable" id="{{ ulid }}">
        {% for item in stream.items %}
            <li id="item-{{ stream.id }}-{{ item.id }}"> 
                {% if item.type == 3 %}
                    <span class="glyphicon glyphicon-ok" title="Task"></span>
                {% endif %}
                {% if item.type == 2 %}
                <span class="glyphicon glyphicon-fire" title="Bug"></span>
                {% endif %}
                {% if item.type == 4 %}
                <span class="glyphicon glyphicon-user" title="User Story"></span>
                {% endif %}


                {{ item.featureId }}/{{ item.name }} <br /> 
                <div class="card-people-container">
                    <span class="card-last-updated"> <span class="priority">[{{ item.priority }}]</span> {{ item.lastupdated | formatdatetime }} {{ item.lastupdatedby | getusername }} </span> <span class="card-assigned-to"> {{item.assignedto | getusername }}</span>
                </div>
                <br />
                {% if item.checklistitemcount > 0 %}
                   <span class="glyphicon glyphicon-list" title="{{ item.checklisttext }}"></span> {{ item.checklistitemcompleted }}/{{ item.checklistitemcount }} 
                {% endif %}
                {% if item.description != "" %}
                   <span class="glyphicon glyphicon-align-justify" title="{{ item.description }}"></span>
                {% endif %}
                {% if item.comments != "" %}
                    <span class="glyphicon glyphicon-comment" title="{{ item.comments }}"></span>
                {% endif %}
                {% if item.parentitemtext != "" %}
                    <span class="glyphicon glyphicon-chevron-up" title="Parent: {{ item.parentitemtext }}"></span>
                {% endif %}
                {% if item.childitemtext != "" %}
                    <span class="glyphicon glyphicon-chevron-down" title="Child Items:<br/>{{ item.childitemtext }}"></span>
                {% endif %}
                {% if item.duedate != "" %}
                {% set inpast="" %}
                {% if item.ispastdue %}
                    {% set inpast="overdue" %}
                {% endif %}
                <span class="glyphicon glyphicon-calendar {{inpast}}" title="DueDate: {{ item.duedate | formatdate }}"></span>
                {% endif %}
                {% if item.blocks != "" %}
                    <span class="glyphicon glyphicon-step-backward" title="Blocks: {{ item.blocks }}"></span>
                {% endif %}
            </li>
        {% endfor %}
        
        
            {% if stream.allow_direct_add == 1 %}
        <li class="cancel_drag stream_button" id="stream_button">
            <button id="create-item-{{ stream.id }}">Create new item</button>
            {% else %}
        <li class="cancel_drag">
            {% endif %}
        </li>
    </ul>
    {% if can_edit %}
    
    <script>
            $("#create-item-{{ stream.id }}").button().on("click", function () {
                dialog = make_dialog(false); // $("#dialog-form")
                $("#parentStream").val({{ stream.id }});
                $("#itemid").val(-1);
                $('#name').val('');
                $('#description').val('');
                $('#lastupdated').html('');
                $('#newcomment').val('');
                $('#newchecklistitem').val('');
                $('#comments').html('');
                $('#checklist').html('');
                $('#itemtype').val(1);
                $('#priority').val(3);
                $('#duedate').val('')
                $.when(get_possible_parents(-1, {{ stream.id }}), get_team_members({{ stream.id }})).done(function (parents, team) {
                    $('#parent-item')
                         .find('option')
                         .remove()
                         .end()
                         .append('<option value="-1">None</option>')                        

                    possible_parents = JSON.parse(parents[0])
                    for (var i = 0; i < possible_parents.length; i++) {
                        var val = possible_parents[i];
                        $('#parent-item').append("<option value='" + val.id + "'>" + val.value + "</option>")
                    }
                    $('#parent-item').val(-1)

                    $('#assigned-to')
                        .find('option')
                        .remove()
                        .end()
                        .append('<option value="-1">Not Assigned</option>')                        
                    
                    team_members = JSON.parse(team[0])
                    for (var i = 0; i < team_members.length; i++) {
                        var val = team_members[i];
                        $('#assigned-to').append("<option value='" + val.id + "'>" + val.value + "</option>")
                    }
                    $('#assigned-to').val(-1)

                    dialog.dialog("open");
                });
            });
    </script>
    {% endif %}

</li>