<li class="li-parent" id="stream-{{ stream.id }}">
    {{ stream.name }}
    <ul class="ui-sortable" id="items">
        {% for item in stream.items %}
        <li id="item-{{ stream.id }}-{{ item.id }}"> {{ item.featureId }}/{{ item.name }} <br /> {{ item.lastupdated | formatdatetime }} {{ item.lastupdatedby | getusername }}</li>
        {% endfor %}
        
        <li class="cancel_drag">
            {% if stream.allow_direct_add == 1 %}
            <button id="create-item-{{ stream.id }}">Create new item</button>
            {% endif %}
        </li>
    </ul>
    
    <script>
            $("#create-item-{{ stream.id }}").button().on("click", function () {
                dialog = make_dialog(false); // $("#dialog-form")
                $("#parentStream").val({{ stream.id }});
                $("#itemid").val(-1);
                $('#name').val('');
                $('#description').val('');
                $('#lastupdated').html('');
                $('#newcomment').val('');
                $('#newchecklistitem').val('');
                $('#comments').html('');
                $('#checklist').html('');
                $('#itemtype').val(1);
                dialog.dialog("open");
            });
    </script>
</li>